/* ===== General ====== */

:root{
    --red-color: #BD1111;
    --bg-red:#490909;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --bg-beize:#F6E1C5;
    --bg-red-black: #311919;
    --bg-red-opac:rgba(165, 52, 43, 0.69);
    --red-border: #CD5449;
}
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    background: url("images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* ===== squelette ====== */
/* ===== header section ====== */
